# Getting started with Data Visualization in R

This notebooks is based on the first course of the  [Data Visualization & Dashboarding with R Specialization](https://www.coursera.org/specializations/jhu-data-visualization-dashboarding-with-r) by the University of John Hopkins.

## 1. Managing and importing

#### 1. DataFrames

From the perspective of making visualizations with data you will use a DataFrame very often. A data frame is basically like a table or a spreadsheet that can be saved as an object into R's environment. Data frames can have column headers or column titles, and you can do different kinds of operations to add columns or rows to a data frame.

You create a data frame in R by combining vectors together. For example:

In [1]:
# Defining vectors
vec_1 = c(1, 3, 5, 7, 9)
vec_2 = c(2, 4, 6, 8, 10)

# Creating DataFrame
df = data.frame(vec_1, vec_2)

# Show df
df

  vec_1 vec_2
1 1      2
2 3      4
3 5      6
4 7      8
5 9     10

Selecting the element in the 4th row and 2nd column:

In [2]:
df[4,2]

[1] 8

And it's possible to fill a new column with a value, without needing to create a vector

In [3]:
df$filled_col = 7

In [4]:
df

  vec_1 vec_2 filled_col
1 1      2    7
2 3      4    7
3 5      6    7
4 7      8    7
5 9     10    7

To get de size of the dataframe, you can use the `dim()` function

In [5]:
dim(df)

[1] 5 3

Which also can be obtained by using the `nrow` and `ncol()` functions:

In [7]:
nrow(df)
ncol(df)

[1] 5

[1] 3

For appending new rows you can use the `rbind()` and new columns with `cbind()`

In [9]:
rbind(df, c(0, 0, 0))

  vec_1 vec_2 filled_col
1 1      2    7
2 3      4    7
3 5      6    7
4 7      8    7
5 9     10    7
6 0      0    0